<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyncTAT.SettingsPersonal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SyncTAT.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>    
  <!--<add name="TAT001Entities" connectionString="metadata=res://*/TAT01.csdl|res://*/TAT01.ssdl|res://*/TAT01.msl;provider=System.Data.SqlClient;provider connection string='data source=localhost;initial catalog=TAT001;user id=TAT_DB_admin;password=Tat$104qro;MultipleActiveResultSets=True;App=EntityFramework';" providerName="System.Data.EntityClient" />-->
  <add name="TAT001Entities" connectionString="metadata=res://*/TAT01.csdl|res://*/TAT01.ssdl|res://*/TAT01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.121;initial catalog=TAT001;user id=admins;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SyncTAT.SettingsPersonal>
      <setting name="ArchivoSAP" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchivoCPT" serializeAs="String">
        <value />
      </setting>
      <setting name="SAP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CPT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchivoLog" serializeAs="String">
        <value />
      </setting>
      <setting name="IndexSegundos" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FechaAnual" serializeAs="String">
        <value />
      </setting>
      <setting name="DCorreo" serializeAs="String">
        <value />
      </setting>
      <setting name="Contrasenia" serializeAs="String">
        <value />
      </setting>
      <setting name="SSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SMTP" serializeAs="String">
        <value />
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ACorreo" serializeAs="String">
        <value />
      </setting>
      <setting name="ACorreoTS" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchivoProc" serializeAs="String">
        <value />
      </setting>
    </SyncTAT.SettingsPersonal>
    <SyncTAT.Settings1>
      <setting name="ArchivoSAP" serializeAs="String">
        <value />
      </setting>
      <setting name="ArchivoCPT" serializeAs="String">
        <value />
      </setting>
      <setting name="SAP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CPT" serializeAs="String">
        <value>False</value>
      </setting>
    </SyncTAT.Settings1>
  
</userSettings>
</configuration>
